<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Teaching Assistant - Chat</title>
    <link rel="stylesheet" href="/css/new/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js"
        integrity="sha512-ohlWmsCxOu0bph1om5eDL0jm/83eH09fvqLDhiEdiqfDeJbEvz4FSbeY0gLJSVJwQAp0laRhTXbUQG+ZUuifUQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="chat-container">
        <div class="chat-messages" id="messages">
            <!-- 消息内容 -->
        </div>
        <div class="chat-input">
            <div class="input-box">
                <textarea id="message-input" placeholder="输入消息..." rows="1"></textarea>
                <!-- <button class="btn btn-primary" id="send-message" >发送</button> -->
            </div>
            <button class="new-btn" id="send-message">
                <span role="img" class="semi-icon semi-icon-default"><svg xmlns="http://www.w3.org/2000/svg"
                        width="28px" height="28px" fill="currentColor" viewBox="0 0 28 28">
                        <path
                            d="M14.007 28q-2.881 0-5.418-1.11a14.3 14.3 0 0 1-4.453-3.026 14.5 14.5 0 0 1-3.04-4.453Q0 16.875 0 13.993q0-2.868 1.095-5.404Q2.191 6.053 4.121 4.12A14.5 14.5 0 0 1 8.59 1.095Q11.124 0 13.993 0t5.404 1.095q2.536 1.096 4.467 3.026A14.2 14.2 0 0 1 26.89 8.59Q28 11.124 28 13.993q0 2.881-1.095 5.418a14.3 14.3 0 0 1-3.027 4.453 14.2 14.2 0 0 1-4.467 3.026Q16.876 28 14.007 28m.015-6.917q.518 0 .835-.317.332-.332.332-.836v-6.816l-.13-2.969 1.37 1.672 1.599 1.643q.316.33.807.331.475 0 .792-.303a.99.99 0 0 0 .332-.763q0-.475-.332-.807L14.944 7.22q-.433-.447-.922-.447-.476 0-.908.447L8.43 11.918q-.317.317-.317.807 0 .461.317.763.318.303.778.303.49 0 .807-.331l1.629-1.658 1.326-1.642-.116 2.954v6.816q0 .504.332.836.331.317.836.317">
                        </path>
                    </svg></span>
            </button>
        </div>
        <div class="chat-promp-type" id="chat-promp-type">
            <div class="promp-title-top">
                <div class="promp-title-left"><span role="img"
                        class="semi-icon semi-icon-default icon-ov1m6x"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M5.122 8.242a.356.356 0 0 0 .355-.315c.167-.994.313-1.504.63-1.82.314-.316.822-.463 1.81-.63a.36.36 0 0 0 .325-.355.356.356 0 0 0-.325-.356c-.988-.167-1.496-.314-1.81-.63-.317-.316-.463-.826-.63-1.819A.356.356 0 0 0 5.122 2a.36.36 0 0 0-.357.316c-.167.993-.313 1.503-.629 1.82-.315.316-.822.463-1.808.63A.356.356 0 0 0 2 5.122c0 .193.147.332.326.356.988.166 1.496.31 1.81.624.316.314.462.825.63 1.826.029.178.17.314.356.314m14.42-2.05-2.383-2.383-1.229 1.23 2.382 2.382zm-2.49 2.49L14.668 6.3l-9.476 9.475 2.383 2.382zm1.368-6.134 2.383 2.382a1.784 1.784 0 0 1 0 2.523L8.655 19.6a1.8 1.8 0 0 1-.99.502l-4.017.618a.892.892 0 0 1-1.017-1.017l.618-4.017c.057-.375.233-.722.501-.99L15.898 2.548a1.783 1.783 0 0 1 2.522 0m.98 19.111a.46.46 0 0 1-.456.405.466.466 0 0 1-.459-.403c-.215-1.289-.403-1.945-.808-2.35-.405-.403-1.057-.587-2.328-.802a.464.464 0 0 1-.419-.456c0-.245.184-.434.422-.458 1.268-.215 1.92-.404 2.325-.81s.593-1.063.808-2.34a.466.466 0 0 1 .46-.407c.243 0 .421.176.456.408.214 1.276.402 1.932.808 2.339.406.406 1.058.595 2.328.81a.46.46 0 0 1 .419.458c0 .243-.185.43-.418.457-1.27.214-1.923.402-2.329.808-.405.407-.594 1.063-.808 2.341"
                                clip-rule="evenodd"></path>
                        </svg></span></div>
                <div class="promp-title-left">帮我写作</div>
            </div>
            <div class="promp-title-content">
                <div class="promp-title">多种学科，教学方案，一键搞定</div>
                <div class="edit-cursor-pointer" id="edit-cursor-pointer">
                    <span role="img"
                        class="semi-icon"
                        data-testid="skill-page-close"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M10.586 12 8.464 9.879A1 1 0 1 1 9.88 8.464L12 10.586l2.121-2.122a1 1 0 0 1 1.415 1.415L13.414 12l2.122 2.121a1 1 0 0 1-1.415 1.415L12 13.414l-2.121 2.122a1 1 0 1 1-1.415-1.415z">
                            </path>
                            <path fill="currentColor"
                                d="M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12m20 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            <div id="chat-promp-list">

            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/new/chat.js"></script>
</body>

</html>